* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #102a42;
}

nav {
  background: #645cff;
  padding: 1.25rem 2rem;
}

.nav-center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  margin-bottom: 0;
  color: #fff;
}

.nav-container {
  display: block;
  position: relative;
}

nav svg {
  width: 2rem;
  fill: #fff;
}

.amount-container {
  position: absolute;
  top: -0.85rem;
  left: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #bae8e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  color: #102a42;
  margin-bottom: 0;
  font-size: 1rem;
}

.cart {
  min-height: calc(100vh - 120px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  max-width: 800px;
}

.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.empty-cart {
  text-transform: lowercase;
  color: #617d98;
  margin-top: 1rem;
  text-align: center;
}

.cart footer {
  margin-top: 4rem;
  text-align: center;
}

.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: #c23030;
  border: 1px solid #c23030;
  margin-top: 2.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background: #bb2525;
  color: #fff;
  border-color: #bb2525;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.item-price {
  color: #617d98;
}

.remove-btn {
  color: #c23030;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: all 0.3s ease;
}

.remove-btn:hover {
  color: #bb2525;
}

.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.amount-btn svg {
  fill: #645cff;
}

.amount-btn:hover svg {
  fill: #3c38d9;
}

.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}

hr {
  background: #617d98;
  border-color: transparent;
  border-width: 0.25px;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 0.875rem;
  border: 2px solid #c23030;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #c23030;
}

.btn:hover {
  color: #fff;
  background: #c23030;
}
